* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_706 {
  width: 492px;
  height: 768px;
  background: rgba(255,255,255,1);
  padding: 8px 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_708 {
  width: 476px;
  height: 41px;
  background: url("../images/v2_708.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 0px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.v2_709 {
  width: 476px;
  color: rgba(0,0,238,1);
  position: absolute;
  top: 10px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v2_711 {
  width: 968px;
  height: 128px;
  background: url("../images/v2_711.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 8px;
  overflow: hidden;
}
.v2_712 {
  width: 968px;
  height: 32px;
  background: url("../images/v2_712.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_713 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 7px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_714 {
  width: 136px;
  color: rgba(0,0,238,1);
  position: absolute;
  top: 7px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_715 {
  width: 968px;
  height: 32px;
  background: url("../images/v2_715.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  overflow: hidden;
}
.v2_716 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 7px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_717 {
  width: 188px;
  color: rgba(0,0,238,1);
  position: absolute;
  top: 7px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_718 {
  width: 968px;
  height: 32px;
  background: url("../images/v2_718.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0px;
  overflow: hidden;
}
.v2_719 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 7px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_720 {
  width: 207px;
  color: rgba(0,0,238,1);
  position: absolute;
  top: 7px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_721 {
  width: 968px;
  height: 32px;
  background: url("../images/v2_721.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 0px;
  overflow: hidden;
}
.v2_722 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 7px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_723 {
  width: 75px;
  color: rgba(0,0,238,1);
  position: absolute;
  top: 7px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_724 {
  width: 968px;
  height: 19px;
  background: url("../images/v2_724.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 177px;
  left: 8px;
  overflow: hidden;
}
.v2_725 {
  width: 5px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_727 {
  width: 41px;
  height: 19px;
  background: url("../images/v2_727.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 196px;
  left: 8px;
  overflow: hidden;
}
.v2_728 {
  width: 1px;
  height: 19px;
  background: url("../images/v2_728.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 40px;
  overflow: hidden;
}
.v2_729 {
  width: 1px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_730 {
  width: 1px;
  height: 19px;
  background: url("../images/v2_730.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 40px;
  overflow: hidden;
}
.v2_731 {
  width: 1px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_732 {
  width: 1px;
  height: 19px;
  background: url("../images/v2_732.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 40px;
  overflow: hidden;
}
.v2_733 {
  width: 1px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_734 {
  width: 1px;
  height: 19px;
  background: url("../images/v2_734.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 40px;
  overflow: hidden;
}
.v2_735 {
  width: 1px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_736 {
  width: 476px;
  height: 482px;
  background: rgba(255,219,123,1);
  padding: 18px 0px;
  margin: 56px;
  opacity: 1;
  position: absolute;
  top: 215px;
  left: 8px;
  overflow: hidden;
}
.v2_737 {
  width: 476px;
  height: 73px;
  background: url("../images/v2_737.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 6px 0px;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 0px;
  overflow: hidden;
}
.v2_739 {
  width: 218px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_741 {
  width: 476px;
  height: 28px;
  background: url("../images/v2_741.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 6px 0px;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 0px;
  overflow: hidden;
}
.v2_742 {
  width: 476px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_743 {
  width: 476px;
  height: 74px;
  background: url("../images/v2_743.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 28px;
  opacity: 1;
  position: absolute;
  top: 147px;
  left: 0px;
  overflow: hidden;
}
.v2_745 {
  width: 476px;
  height: 24px;
  background: url("../images/v2_745.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 5px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_746 {
  width: 476px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2_748 {
  width: 476px;
  height: 18px;
  background: url("../images/v2_748.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 0px;
  overflow: hidden;
}
.v2_749 {
  width: 476px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_750 {
  width: 476px;
  height: 74px;
  background: url("../images/v2_750.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 28px;
  opacity: 1;
  position: absolute;
  top: 277px;
  left: 0px;
  overflow: hidden;
}
.v2_751 {
  width: 476px;
  height: 24px;
  background: url("../images/v2_751.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 5px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_752 {
  width: 476px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v2_753 {
  width: 476px;
  height: 18px;
  background: url("../images/v2_753.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 0px;
  overflow: hidden;
}
.v2_754 {
  width: 476px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_755 {
  width: 476px;
  height: 74px;
  background: url("../images/v2_755.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 28px;
  opacity: 1;
  position: absolute;
  top: 407px;
  left: 0px;
  overflow: hidden;
}
.v2_757 {
  width: 476px;
  height: 24px;
  background: url("../images/v2_757.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 5px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_758 {
  width: 476px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2_759 {
  width: 476px;
  height: 18px;
  background: url("../images/v2_759.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 0px;
  overflow: hidden;
}
.v2_760 {
  width: 476px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_761 {
  width: 64px;
  height: 18px;
  background: url("../images/v2_761.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 697px;
  left: 8px;
  overflow: hidden;
}
.v2_762 {
  width: 64px;
  color: rgba(0,0,238,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2_763 {
  width: 31px;
  color: rgba(0,0,238,1);
  position: absolute;
  top: 715px;
  left: 8px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
